<div class="col-md-12">
    <div class="row">
        <div class="col-6">list of tasks</div>
        <div class="col-6">
            <div class="input-group">

                <button><i class="fa fa-plus"></i> New task</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form-group">

            </div>
            <label for="label"></label>
            <input id="label" type="text" class="form-control">

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> completed
                </label>
            </div>
        </div>
    </div>
</div>
